@media (min-width:1200px)
{
    body,
    html
    {
        margin: 0;
        height: 100%;
    }

    .page-wrap 
    {
        min-height: 100%;
        margin-bottom: -85px;
    }

    .page-wrap:after
    {
        display: block;
    }

    .page-wrap:after
    {
        height: 80px;
    }

    .flex-box
    {
        display: flex;
    }

    .all-screen-view,
    .item h2
    {
        float: left;
    }

    .item h2,
    .all-screen-view p
    {
        margin: 9px 0 10px 20px;
    }

    .cats-name
    {
        margin-left: 20px;
    }

    .cats-page 
    {
        display: grid;
        grid-template-columns: repeat(2, 510px);
        align-content: space-between;
    }

    .desktop-view
    {
        display: inline-block;
        border-top: solid 1px #dbd9d9;
        width: 500px;
    }

    .desktop-view p
    {
        margin-left: 10px;
    }
    
    .item 
    {
        width: 500px;
        margin: 5px 3px;
        border: 1px solid #dbd9d9;
    }

    .item img
    {
        float: left;
        margin: 10px 0 10px 10px;
        width: 300px;
        height: 190px;
    }

    .head
    {
        position: static;
        grid-column: span 2;
    }

    footer
    {
        grid-column: span 2;
        height: 80px;
        display: inline-block;
        bottom: 0;
        background: #fff;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        border-top: 1px solid #000;
    }
    
    .footer-left
    {
        padding: 0 10px;
        float: left;
    }

    .footer-right
    {
        float: right;
        margin: 33px 6px 0;
    }

    .footer-right a
    {
        color: #4c4cd8;
    }

    .footer-left a 
    {
        color: #4c4cd8;
        padding: 0 4px;
    }

    .footer-left img
    {
        margin-bottom: -3px;
    }
    
    .filter
    {
        display: flex;
        flex-direction: column;
        margin: 4px 0 0 100px;
        width: 200px;
        font-family: 'PT Sans Narrow', arial;
        font-size: 18px;
    }

    .species-labels
    {
        display: flex;
        flex-direction: column;
    }

    .species-labels header
    {
        margin-bottom: 5px;
    }

    label
    {
        cursor: pointer;
        border: solid 1px #000;
        border-radius: 5px;
        width: 170px;
        margin-bottom: 5px;
        padding: 12px 15px;
    }

    input:checked[id='species-1'] ~ .flex-box .filter label[for='species-1'],
    input:checked[id='species-2'] ~ .flex-box .filter label[for='species-2'],
    input:checked[id='species-3'] ~ .flex-box .filter label[for='species-3'],
    input:checked[id='all'] ~ .flex-box .filter label[for='all']
    {
        background: #ccf1a4;
    }

    input:checked[id='species-1'] ~ .flex-box main .item:not(.species-1),
    input:checked[id='species-2'] ~ .flex-box main .item:not(.species-2),
    input:checked[id='species-3'] ~ .flex-box main .item:not(.species-3)
    {
        display: none;
    }
}
