@media (min-width:1200px)
{
    body,
    html
    {
        margin: 0;
        height: 100%;
    }

    .content-wrap 
    {
        min-height: 100%;
        margin-bottom: -32px;
    }

    .content-wrap:after
    {
        display: block;
        content: '';
        color: #fff;
        height: 30px;
    }

    .flex-box
    {
        display: flex;
    }

    .all-screen-view,
    .item h2
    {
        float: left;
    }

    .item h2,
    .all-screen-view p
    {
        margin: 9px 0 10px 20px;
    }

    .cats-name
    {
        margin-left: 20px;
    }

    .cats-page 
    {
        display: grid;
        grid-template-columns: repeat(2, 510px);
        align-content: space-between;
    }

    .desktop-view
    {
        display: inline-block;
        border-top: solid 1px #dbd9d9;
        width: 500px;
    }

    .desktop-view p
    {
        margin-left: 10px;
    }
    
    .item 
    {
        width: 500px;
        margin: 5px 3px;
        border: 1px solid #dbd9d9;
    }

    .item img
    {
        float: left;
        margin: 10px 0 10px 10px;
        width: 300px;
        height: 190px;
    }

    .header
    {
        position: sticky;
        grid-column: span 2;
    }

    .footer
    {
        height: 30px;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        bottom: 0;
        background: #fff;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        border-top: 1px solid #a5a5a5;
        margin: 0;
    }

    .not-desktop-view__mail
    {
        display: none;
    }

    .desktop-view__mail
    {
        display: inline;
        margin-right: 4px;
    }

    br
    {
        display: none;
    }

    .round-point
    {
        position: relative;
        display: inline;
        height: 6px;
        width: 6px;
        top: -4px;
    }

    .footer-left,
    .footer-right
    {
        margin: -5px 0 0 5px;
    }

    .footer-left
    {
        flex-basis: calc(100% - 245px);
    }

    .footer-right a
    {
        color: #4c4cd8;
    }

    .footer-left a 
    {
        color: #4c4cd8;
        padding: 0 4px;
    }

    .footer-left img
    {
        margin-bottom: -3px;
    }
    
    .filter
    {
        display: flex;
        flex-direction: column;
        margin: 4px 0 0 100px;
        width: 200px;
        font-family: 'PT Sans Narrow', arial;
        font-size: 18px;
    }

    .species-labels
    {
        display: flex;
        flex-direction: column;
    }

    .species-labels header
    {
        margin-bottom: 5px;
    }

    .choice-species
    {
        cursor: pointer;
        border: solid 1px #000;
        border-radius: 5px;
        width: 170px;
        margin-bottom: 5px;
        padding: 12px 15px;
    }

    .choice-species:hover
    {
        box-shadow: 0 0 5px 1px #505050;
    }

    .item
    {
        display: none;
    }

    input:checked[id='species-1'] ~ .flex-box .filter label[for='species-1'],
    input:checked[id='species-2'] ~ .flex-box .filter label[for='species-2'],
    input:checked[id='species-3'] ~ .flex-box .filter label[for='species-3'],
    input:checked[id='all'] ~ .flex-box .filter label[for='all']
    {
        background: #ccf1a4;
    }

    input:checked[id='species-1'] ~ .flex-box .cats-page .species-1,
    input:checked[id='species-2'] ~ .flex-box .cats-page .species-2,
    input:checked[id='species-3'] ~ .flex-box .cats-page .species-3,
    input:checked[id='all'] ~ .flex-box .cats-page .all
    {
        display: inline;
    }

}
