@media (min-width: 1200px)
{
    :root
    {
        --body-margin: 8px;
        --header-height: 43.6px;
        --footer-height: 43px;
        --main-min-height: calc(100vh -
        var(--header-height) - var(--footer-height) - 2 * var(--body-margin));
    }

    body
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    header
    {
        height: var(--header-height);
        grid-column: span 4;
    }

    main
    {
        grid-column: span 3;
    }

    aside
    {
        grid-column: span 1;
    }

    footer
    {
        height: var(--footer-height);
        grid-column: span 4;
    }

    main
    {
        min-height: var(--main-min-height);
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: space-between;
        border-right: none;
    }

    .card
    {
        width: 96%;
        margin: 2%;
        display: grid;
        grid-template: 'photo name' 15%
        'photo basic' auto
        'extra extra' 1fr
        / 60% 40%;
    }

    .photo-container
    {
        grid-area: photo;
    }

    .name-container
    {
        grid-area: name;
    }

    .basic-information-block
    {
        grid-area: basic;
    }

    .extra-information-block
    {
        grid-area: extra;
    }

    .extra-information-block
    {
        display: block;
        border-top: 1px solid lightgrey;
        overflow: hidden;
        padding: 20px;
    }

    footer
    {
        display: flex;
        align-items: baseline;
    }

    footer img
    {
        display: none;
    }

    footer p:first-of-type img
    {
        display: inline;
    }

    [id='small-circle']
    {
        width: 6px;
        height: 6px;
        background-color: rgb(87, 86, 86);
        border-radius: 3px;
        margin-left: 15px;
    }

    footer p:last-of-type
    {
        margin-left: auto;
        margin-right: 15px;
    }

    aside
    {
        padding: 20px;
    }

    aside section header
    {
        font-size: 18px;
        color: rgb(87, 86, 86);
        margin-bottom: 10px;
    }

    [id='age']
    {
        margin-bottom: 50px;
    }

    [id='age'] img
    {
        width: 50%;
    }

    [id='slider']
    {
        display: block;
        width: 70%;
    }

    aside label
    {
        border: 1px solid rgb(39, 39, 39);
        border-radius: 5px;
        font-size: 14px;
        line-height: .5em;
        color: rgb(87, 86, 86);
        padding: 25px;
        margin: 5px 10px 5px 0;
    }

    [id='breed-1']:checked ~ aside label[for='breed-1'],
    [id='breed-2']:checked ~ aside label[for='breed-2'],
    [id='breed-3']:checked ~ aside label[for='breed-3'],
    [id='no-breed']:checked ~ aside label[for='no-breed']
    {
        background-color: rgb(233,255,208);
        border: 1px solid rgb(204,241,164);
    }

    [id='breed-1']:checked ~ main dl:not(.breed-1),
    [id='breed-2']:checked ~ main dl:not(.breed-2),
    [id='breed-3']:checked ~ main dl:not(.breed-3)
    {
        display: none;
    }

    aside,
    [id='breed-labels']
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}
