@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic');

body
{
    margin: 0;
    padding: 0;
    color: #a9a9a9;
}

.header
{
    position: sticky;
    top: 0;

    font: 32px 'PT Sans Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background: #fff;
    color: #000;
    height: 60px;
    border-bottom: 1px solid #808080;
    box-shadow: 0 1px 1px #808080;
}

.header:first-letter
{
    color: #f00;
}

.footer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 60px;

    font: 14px 'Arial', sans-serif;
    background: #fff;

    box-shadow: 0 -1px 1px #808080;
    border-top: 1px solid #808080;
}

.footer__link
{
    text-decoration: none;
    color: #4c4cd8;
}

.footer__right
{
    color: #000;
}

.main
{
    padding-bottom: 60px;
}

.cat__info,
.cat__additional
{
    text-align: left;
    font-size: 1.2em;
    margin-left: 10px;
}

.info__name
{
    color: #000;
}

.info__age:before
{
    content: 'Возраст: ';
}

.info__breed:before
{
    content: 'Порода: ';
}

.info__disease:before
{
    content: 'Болезни: ';
}

.info__status:before
{
    content: 'Статус: ';
}

.filter,
.cat__additional
{
    display: none;
}

/*desktop*/
@media screen and (min-width: 1200px)
{
    .main
    {
        display: grid;
        grid-template: 'cats filter';
        grid-template-columns: 80% 20%;
    }

    .cats
    {
        grid-area: cats;
    }

    .filter
    {
        grid-area: filter;
        display: block;
        white-space: normal;
        margin: 20px;
        padding: 10px;
        text-align: center;
    }

    .filter__age-slider
    {
        -webkit-appearance: none;
        width: 100%;
        height: 20px;
        margin-top: 10px;
        background: #d3d3d3;
        outline: none;
        opacity: .7;
        border-radius: 1em;
    }

    .filter__age-slider::-webkit-slider-thumb
    {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: #6698ff;
        cursor: pointer;
        border-radius: 50%;
    }

    .filter__breed
    {
        margin-top: 20px;
    }

    .filter__label
    {
        display: block;
        height: 2em;
        margin-top: 10px;
        border: 1px solid #d3d3d3;
        border-radius: .5em;
        line-height: 30px;
    }

    input[id='filter-breed-1']:checked ~ .filter label[for$='breed-1'],
    input[id='filter-breed-2']:checked ~ .filter label[for$='breed-2']
    {
        background: #00fa9a;
        border-color: #008000;
    }

    input[id='filter-breed-1']:checked ~ .cats .cat:not([class$='ed-1']),
    input[id='filter-breed-2']:checked ~ .cats .cat:not([class$='ed-2'])
    {
        display: none;
    }

    .cat
    {
        width: 450px;
        height: 350px;
        display: inline-block;
        border: 1px solid #a9a9a9;
        box-shadow: 0 0 25px #808080;
        border-radius: .5em;
        padding: 5px;
        margin: 10px;
        transition: .5s all;
        vertical-align: top;
    }

    .cat:hover
    {
        border: 1px solid #000;
        box-shadow: 0 0 20px #000;
    }

    .cat__img
    {
        width: 200px;
        height: 200px;
        transition: 1s ease-in-out;
        border-radius: .5em;
        display: inline-block;
        margin: 10px;
    }

    .cat__info
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        white-space: normal;
        width: 200px;
    }

    .cat__additional
    {
        display: block;
        border-top: 2px solid #a9a9a9;
    }

    .footer
    {
        line-height: 60px;
    }

    .footer__text,
    .footer__left,
    .footer__right
    {
        display: inline;
    }

    .footer__right
    {
        text-align: right;
        float: right;
    }

    .footer__text:nth-child(2)::after
    {
        content: ' •';
    }
}

/*tablet*/
@media screen and (max-width: 1200px) and (min-width: 730px)
{
    .cat
    {
        width: 200px;
        height: 300px;
        display: inline-block;
        border: 1px solid #a9a9a9;
        box-shadow: 0 0 25px #808080;
        border-radius: .5em;
        padding: 5px;
        margin: 10px;
        transition: .5s all;
        vertical-align: top;
    }

    .cat:hover
    {
        border: 1px solid #000;
        box-shadow: 0 0 20px #000;
    }

    .cat__img
    {
        width: 150px;
        height: 150px;
        transition: 1s ease-in-out;
        border-radius: .5em;
        display: inline-block;
        margin: 10px;
    }

    .cat__info
    {
        font-size: .7em;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        white-space: normal;
        width: 200px;
    }

    .footer__left
    {
        display: inline-block;
        padding: 5px 0;
        margin-left: 10px;
    }

    .footer__right
    {
        display: inline-block;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 0;
    }
}

/*phones*/
@media screen and (max-width: 730px)  and (min-width: 375px)
{
    .cats
    {
        text-align: center;
    }

    .cat
    {
        width: 500px;
        height: 350px;
        display: inline-block;
        border: 1px solid #a9a9a9;
        box-shadow: 0 0 25px #808080;
        border-radius: .5em;
        padding: 5px;
        margin: 10px;
        transition: .5s all;
        vertical-align: top;
    }

    .cat:hover
    {
        border: 1px solid #000;
        box-shadow: 0 0 20px #000;
    }

    .cat__img
    {
        width: 200px;
        height: 200px;
        transition: 1s ease-in-out;
        border-radius: .5em;
        margin: 10px;
    }

    .cat__info
    {
        font-size: .7em;
        vertical-align: top;
        margin-left: 10px;
        white-space: normal;
    }

    .footer
    {
        font-size: .8em;
    }

    .footer__right,
    .footer__left
    {
        display: block;
    }
}
