@font-face
{
    font-family: 'PT Sans Narrow';
    src: url('pt-sans-narrow_[allfont.ru].ttf');
}

@media (min-width: 375px) and (max-width: 730px)
{
    footer
    {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        border-top: 1px solid #000;
    }

    .footer-left
    {
        padding: 0 10px;
    }

    .footer-right a
    {
        color: #4c4cd8;
        text-decoration: none;
    }

    .footer-left a 
    {
        color: #4c4cd8;
        padding: 0 4px;
        text-decoration: none;
    }

    .footer-left img
    {
        margin-bottom: -3px;
    }

    .cats-page
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item 
    {
        margin: 2px 1px;
        border: 1px solid #dbd9d9;
        width: 300px;
    }

    .item img
    {
        width: inherit;
    }
}

body
{
    margin: 0;
    
}

.filter
{
    display: none;
}

input
{
    display: none;
}

.head
{
    position: static;
    background: #fff;
    top: 0;
    border-bottom: 1px solid #000;
    font-family: 'PT Sans Narrow', arial;
    font-size: 22px;
    text-align: center;
    height: 60px;
    width: 100%;
}

.head > h1
{
    margin-top: 0;
}

.head h1::first-letter
{
    color: #f33446;
}

.all-screen-view > p
{
    margin: 5px 0 10px 25px;
}

.desktop-view
{
    display: none;
}

.description:hover
{
    text-shadow: 0 0 5px #002fff;
}

.item:hover,
img:hover
{
    box-shadow: 0 0 5px 1px #505050;
    
}

.cats-name:hover
{
    text-shadow: 0 0 5px #fbff00;
    
}

.description
{
    margin: 0 0 0 20px;
    color: #a5a5a5;
}

.cats-name
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 25px;
}
