@media (min-width: 730px) and (max-width: 1200px)
{
    :root
    {
        --body-margin: 8px;
        --header-height: 43.6px;
        --footer-height: 87.2px;
        --main-min-height: calc(100vh -
        var(--header-height) - var(--footer-height) - 2 * var(--body-margin));
    }

    header
    {
        height: var(--header-height);
    }

    main
    {
        min-height: var(--main-min-height);
        display: grid;
        grid-template-columns: repeat(3, 33vh);
        justify-content: center;
        grid-gap: 10px;
        padding: 2% 0;
    }

    .card
    {
        margin: 0;
    }

    .photo
    {
        width: 96%;
    }

    footer
    {
        height: var(--footer-height);
        padding-top: 10px;
        display: grid;
        grid-template-columns: auto 275px;
    }

    footer p:first-of-type,
    footer p:nth-of-type(2)
    {
        grid-column: 1 / span 2;
    }

    footer p:nth-of-type(3)
    {
        grid-column: 1;
        grid-row: 3;
    }

    footer p:nth-of-type(4)
    {
        grid-column: 2;
        grid-row: 3;
    }

    footer p
    {
        margin: 5px;
    }
}
