@media (min-width: 730px) and (max-width: 1200px)
{
    .flex-box
    {
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
    }

    .cats-page
    {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-gap: 40px;
        margin: 20px auto;
    }
    
    .item 
    {
        width: 300px;
        margin: 2px;
        border: 1px solid #dbd9d9;
    }

    .item img
    {
        width: 290px;
        margin: 5px;
    }

    .footer
    {
        position: static;
        display: inline-block;
        background: #fff;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        border-top: 1px solid #000;
        height: 70px;
    }
    
    .footer-left
    {
        padding: 0 10px;
        float: left;
    }

    .footer-right
    {
        float: right;
        margin: 33px 6px 0;
    }

    .footer-right a
    {
        color: #4c4cd8;
    }

    .footer-left a 
    {
        color: #4c4cd8;
        padding: 0 4px;
    }

    .footer-left img
    {
        margin-bottom: -3px;
    }
}
