.bullet-image
{
    display: unset;
}

.footer-info::before
{
    display: inline-block;
    background-image: url('../../icons/mail.png');
    background-size: 24px 14px;
    content: '';
    height: 14px;
    width: 24px;
    margin-right: 10px;
}
