input[id='siberian']:not(:checked) ~ .presentation .cat-card.siberian,
input[id='meyn-kuhns']:not(:checked) ~ .presentation .cat-card.meyn-kuhns,
input[id='european-cat']:not(:checked) ~ .presentation .cat-card.european-cat,
input[id='american-curl']:not(:checked) ~ .presentation .cat-card.american-curl,
input[id='burmylla']:not(:checked) ~ .presentation .cat-card.burmilla,
input[id='ragdoll']:not(:checked) ~ .presentation .cat-card.ragdoll,
input[id='somalian']:not(:checked) ~ .presentation .cat-card.somalian
{
    display: none;
}

input[id='siberian']:checked ~ .presentation .cat-card.siberian,
input[id='meyn-kuhns']:checked ~ .presentation .cat-card.meyn-kuhns,
input[id='european-cat']:checked ~ .presentation .cat-card.european-cat,
input[id='american-curl']:checked ~ .presentation .cat-card.american-curl,
input[id='burmylla']:checked ~ .presentation .cat-card.burmilla,
input[id='ragdoll']:checked ~ .presentation .cat-card.ragdoll,
input[id='somalian']:checked ~ .presentation .cat-card.somalian
{
    display: grid;
}

input[id='all']:checked ~ .presentation .cat-card
{
    display: grid !important;
}
