body
{
    margin: 0;
}

.murmarket
{
    display: grid;
    grid-template-rows: 80px auto auto;
}

.murmarket__header
{
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__name
{
    font-weight: 200;
    font-size: 32px;
    margin: 0;
}

.header__name::first-letter
{
    color: #eb5757;
}

.murmarket__content
{
    display: grid;
    grid-gap: 20px;
}

.cat-cards
{
    padding: 30px 20px;
}

.cat-card
{
    padding-bottom: 30px;
    border: 1px solid #e5e5e5;
}

.cat-card__photo
{
    object-fit: cover;
}

.cat-card__name
{
    margin: 14px 20px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.cat-card__link
{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.cat-short-description__info-line,
.cat-short-description__status
{
    margin: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8a8a8a;
}

.cat-description__info-line
{
    margin: 0 20px;
    hyphens: auto;
    color: #8a8a8a;
}

.cat-status
{
    margin: 20px 20px 0;
}

.murmarket__footer
{
    display: grid;
    padding: 20px 40px;
    border-top: 1px solid #e5e5e5;
}

.footer__text
{
    margin: 0;
}

.footer__contact-list
{
    padding: 0;
    margin: 0;
}

.contact-list__contact
{
    margin-top: 4px;
    display: flex;
}

.footer__text
{
    color: #8a8a8a;
}

.contact
{
    display: flex;
    align-items: center;
}

.contact__icon
{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.contact__link
{
    line-height: 22px;
}

.footer__signature
{
    margin: 30px 0 0;
}

@media only screen and (max-width: 730px)
{
    .cat-card + .cat-card
    {
        margin-top: 20px;
    }

    .cat-card__photo
    {
        width: 100%;
    }

    .cat-description__info-line
    {
        display: none;
    }
}

@media only screen and (min-width: 730px) and (max-width: 1000px)
{
    .cat-cards
    {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .cat-card
    {
        width: 100%;
    }

    .cat-card__photo
    {
        width: 100%;
        height: 250px;
    }

    .cat-description__info-line
    {
        display: none;
    }

    .murmarket__footer
    {
        grid-template-columns: 50% 50%;
    }

    .footer__contact-list
    {
        grid-column-start: 1;
        grid-row-start: 2 / 3;
    }

    .footer__signature
    {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: right;
        margin: 0;
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1000px)
{
    .murmarket
    {
        grid-template-rows: 80px auto 65px;
    }

    .murmarket__content
    {
        display: grid;
        grid-template-columns: 40% 40% auto;
        grid-gap: 20px;
        min-height: calc(100vh - 80px);
    }

    .menu__slider
    {
        margin-top: 30px;
    }

    .slider
    {
        width: 188px;
        height: 2px;
        display: flex;
        background-color: #81b5fb;
    }

    .slider__label
    {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #999;
    }

    .slider__label + .slider__label
    {
        margin-left: 16px;
    }

    input[id='age-from-0']:checked ~ .menu .slider__label[for='age-from-0'],
    input[id='age-from-1']:checked ~ .menu .slider__label[for='age-from-1'],
    input[id='age-from-2']:checked ~ .menu .slider__label[for='age-from-2'],
    input[id='age-to-3']:checked ~ .menu .slider__label[for='age-to-3'],
    input[id='age-to-4']:checked ~ .menu .slider__label[for='age-to-4'],
    input[id='age-to-5']:checked ~ .menu .slider__label[for='age-to-5']
    {
        transform: scale(1.4);
        border: 1px solid #e33f46;
    }

    .menu__slider-captions
    {
        margin-top: 14px;
    }

    .slider-captions__item
    {
        display: inline-block;
        text-align: center;
        font-size: 14px;
        color: #333;
        width: 18px;
    }

    .slider-captions__item + .slider-captions__item
    {
        margin-left: 13px;
    }

    .cat-cards
    {
        grid-row-start: 1;
        grid-column: 1 / 3;
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-auto-rows: 332px;
        grid-template-columns: repeat(2, 1fr);
    }

    .cat-card
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 150px 100px;
        grid-auto-flow: dense;
    }

    .cat-card__description
    {
        padding-top: 20px;
        grid-row-start: 3;
        grid-column: 1 / 3;
        overflow: hidden;
        border-top: 1px solid #e5e5e5;
    }

    .cat-card__name
    {
        padding: 20px 0 0 20px;
        border-left: 1px solid #e5e5e5;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin: 0;
    }

    .cat-card__short-description
    {
        padding-left: 20px;
        border-left: 1px solid #e5e5e5;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        overflow: hidden;
    }

    .cat-short-description__info-line,
    .cat-short-description__status
    {
        margin-left: 0;
    }

    .cat-card__photo
    {
        padding: 20px;
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        width: 250px;
        height: 160px;
    }

    .murmarket__footer
    {
        display: flex;
        align-items: center;
    }

    .footer__mail-icon
    {
        display: block;
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }

    .footer__text
    {
        margin-right: 20px;
    }

    .contact-list__contact
    {
        margin-top: 2px;
        position: relative;
        display: inline-flex;
    }

    .contact-list__contact + .contact-list__contact
    {
        margin-left: 30px;
    }

    .contact-list__contact + .contact-list__contact::before
    {
        content: '♥';
        position: absolute;
        left: -24px;
    }

    .contact__icon
    {
        display: none;
    }

    .footer__signature
    {
        margin: 0 0 0 auto;
    }

    .murmarket__menu
    {
        display: block;
        grid-column: 3;
    }

    .menu__caption
    {
        margin-top: 30px;
    }

    .category__items
    {
        display: flex;
        flex-direction: column;
    }

    .category__item-name
    {
        padding: 20px;
        border: 1px solid #e5e5e5;
        width: 160px;
    }

    .category__item-name:hover
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_scotch:checked + .murmarket__menu .breed_scotch
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_scotch:checked ~ .cat-cards .cat-card
    {
        display: none;
    }

    .breed_scotch:checked ~ .cat-cards .breed_scotch
    {
        display: grid;
    }

    .breed_maine-coon:checked + .murmarket__menu .breed_maine-coon
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_maine-coon:checked ~ .cat-cards .cat-card
    {
        display: none;
    }

    .breed_maine-coon:checked ~ .cat-cards .breed_maine-coon
    {
        display: grid;
    }

    .breed_scottish_straight:checked + .murmarket__menu .breed_scottish_straight
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_scottish_straight:checked ~ .cat-cards .cat-card
    {
        display: none;
    }

    .breed_scottish_straight:checked ~ .cat-cards .breed_scottish_straight
    {
        display: grid;
    }

    .breed_curl:checked + .murmarket__menu .breed_curl
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_curl:checked ~ .cat-cards .cat-card
    {
        display: none;
    }

    .breed_curl:checked ~ .cat-cards .breed_curl
    {
        display: grid;
    }

    .breed_bengali:checked + .murmarket__menu .breed_bengali
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_bengali:checked ~ .cat-cards .cat-card
    {
        display: none;
    }

    .breed_bengali:checked ~ .cat-cards .breed_bengali
    {
        display: grid;
    }

    .breed_none:checked + .murmarket__menu .breed_none
    {
        box-shadow: 0 0 40px #e5e5e5 inset;
    }

    .breed_none:checked ~ .cat-cards .cat-card
    {
        display: none;
    }

    .breed_none:checked ~ .cat-cards .breed_none
    {
        display: grid;
    }
}
