.presentation
{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cat-card
{
    padding: 2px;

    display: flex;
    flex-direction: column;
}

.cat-card:not(:last-child)
{
    margin-bottom: 20px;
}
