.presentation
{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cat-card
{
    border: 1px solid lightgrey;
    padding: 2px;

    display: flex;
    flex-direction: column;
}

.cat-card:not(:last-child)
{
    margin-bottom: 20px;
}

.thumbnail
{
    padding-right: 5px;
}

.details
{
    display: none;
}

.cat-card img
{
    width: 100%;
}

.cat-card:hover
{
    box-shadow: 0 0 15px gray;
}
