.bullet-image
{
    display: none;
    width: 14px;
    height: 14px;
}

.presentation-footer,
.footer-info
{
    display: flex;
}

.presentation-footer
{
    background: white;
    padding: 10px 20px;
    bottom: 0;
    font: 14px Arial;

    border-top: 1px solid grey;

    justify-content: space-between;
}

.footer-info :first-child
{
    margin-right: 30px;
}

.footer-info :not(:first-child):not(:last-child)
{
    margin-right: 10px;
}
