.card
{
    width: 100%;
}

.cat-footer
{
    grid-template: 'h' 55px 'm' 50px '©' auto;
}

.contacts-mail
{
    padding-inline-start: 0;
}

.copyright
{
    text-align: left;
    padding-right: 0;
}
