.card
{
    width: 100%;
}

.cat-info-full
{
    display: none;
}

main
{
    max-width: 730px;
}

.cat-footer
{
    font: 14px Arial;
    grid-template: 'h' 55px 'm' 50px '©' auto;
}

.contacts-mail
{
    padding-inline-start: 0;
}

.copyright
{
    text-align: left;
    padding-right: 0;
}
