img
{
    width: 100%;
}

body
{
    font: 14px Arial;
    color: darkslategrey;
    overflow-y: scroll;

    border: darkgrey solid 1px;
    display: flex;
    flex-direction: column;
}

body:hover
{
    box-shadow: 0 0 15px gray;
}
